name: Build LuaTeX document

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Compile LuaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex # Replace with your main .tex file name
          latexmk_use_lualatex: true

      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: main.pdf # The compiled PDF file
